### 1-Write a Python program that takes two numbers as user input and performs addition on them.

In [ ]:
number_1 = int(input("enter first number : "))
number_2 = int(input("enter second number : "))
sum = number_1 + number_2
print("sum=",sum)

enter first number : 1
enter second number : 2
sum= 3

### 2-Write a Python program that takes an integer as input and checks if it is even or odd. Print "Even" if the number is divisible by 2, otherwise print "Odd".

In [ ]:
number = int(input("enter a number : "))
if number%2==0:
    print("even")
else:
    print("odd")

enter a number : 5
odd

### 3-Write a Python program that prints all the even numbers from 1 to 20 using a for loop

In [ ]:
x = 0
for x in range (20):
    x +=1
    y=x%2
    if y == 0:
        print(x)

2
4
6
8
10
12
14
16
18
20

### 4-Write a Python function that takes a string as input and counts the number of vowels (a, e, i, o, u) in the string. The function should return the count

In [ ]:
def vowels (word):
    count = 0
    vowel = "aeiuoAEIUO"
    for i in word:
        if i in vowel:
            count += 1
    return count

In [ ]:
vowels("ABDELRHMAN ")

3

### 5-Write a Python program that creates a list of numbers from 1 to 10. Use a loop to iterate over the list and print each number of power 2.

In [ ]:
L=[]
for i in range(10) :
    i+=1
    L.append(i)
l_power=[ x**2 for x in L ]
print(L)
print(l_power)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 6-Write a Python program that calculates the average grade for a student based on their scores in different subjects. The program should include the following steps:

#### 1-Create variables to store the student's name, subject names, and corresponding scores. Initialize the variables with sample data.

#### 2-Prompt the user to enter the student's name and assign it to the name variable.

#### 3-Use a loop to prompt the user to enter the subject names and corresponding scores. Store the subject names in a list and the scores in another list.

#### 4-After collecting the scores, calculate the average grade by summing up all the scores and dividing by the total number of subjects.

#### 5-Check if the average grade is above a 70, print a congratulatory message. Otherwise, print an encouragement message.

In [ ]:
subject_names = ["Math", "Science", "English"]
scores = [90, 85, 92]
student_name = input("Enter the student's name: ")
subject_names = []
scores = []
for i in range(len(subject_names)):
    subject = input("Enter the name of subject {}: ".format(i+1))
    subject_names.append(subject)
    score = float(input("Enter the score for {}: ".format(subject)))
    scores.append(score)
total_subjects = len(subject_names)
total_scor = sum(scores)
average_grade = total_scor / total_subjects
if average_grade > 70:
    print("Congratulations, {}! Your average grade is {}".format(student_name, average_grade))
else:
    print("Keep it up, {}! Your average grade is {}".format(student_name, average_grade))

Enter the student's name: omar

TypeError: ignored

### 7-Find Common Elements
### Write a Python function that takes two lists as input and returns a new list containing the common elements present in both lists.

In [ ]:
lst_1= []
x = int(input("Enter number of elements : "))
for i in range(0,x ):
    n1 = input()
    lst_1.append(n1)

lst_2 = []
y = int(input("Enter number of elements : "))
for i in range(0,y ):
    n2 = input()
    lst_2.append(n2)
def common_elements(M,N):
    result = []
    for i in lst_1:
        if i in lst_2:
            result.append(i)
    return result
common_elements(lst_1,lst_2)

Enter number of elements : 5
1
2
3
4
5
Enter number of elements : 5
4
5
6
7
8

['4', '5']

### 8-Write a Python function that takes a list of numbers and an element to remove from the list.

In [ ]:
def remove(numbers, element):
  result = []
  for number in numbers:
    if number != element:
      result.append(number)
  return result

In [ ]:
remove([4,35,74,5,8,10],5)

[4, 35, 74, 8, 10]

### 9-Given 4 numbers A, B, C and D. Print the last 2 digits from their Multiplication.
### Example :
### the Multiplication of 4 numbers is 5 * 7 * 2 * 4 = 280 so the answer will be the last 2 digits which are 80.

In [ ]:
A = int(input("Enter A: "))
B = int(input("Enter B: "))
C = int(input("Enter C: "))
D = int(input("Enter D "))
product = A * B * C * D
X = product % 100
print("Last two digits of the multiplication:", X)

Enter A: 5
Enter B: 6
Enter C: 7
Enter D 8
Last two digits of the multiplication: 80

### 10- Given a number X. Determine if the number is prime or not

In [ ]:
num =int(input("enter a number : "))
flag = False
if num == 1:
    print(num, "is not a prime number")
elif num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            flag = True
            break
    if flag:
        print(num, "is not a prime number")
    else:
        print(num, "is a prime number")

enter a number : 7
7 is a prime number

### 11- Given a number N and a list A of N numbers. Determine if the number X exists in array A or not and print its position (0-index).

In [ ]:
from ast import Index
N=int(input("enter number of elments in the list :"))

A=[]
for i in range(N):
    i+=1
    y=input()
    A.append(y)
x=input("x= :")
if x in A:
    z=A.index(x)
    print("the index of x is :",z)
else:
  print ("x isn't in A ")

enter number of elments in the list :5
1
2
4
3
5
x= :1
the index of x is : 0

### 12- Given a number N and a list A of N numbers. Determine if the array is lucky or not.

#### Note: the array is lucky if the frequency (number of occurrence) of the minimum element is odd.

In [ ]:
N = int(input("Enter the number of elements: "))
A = []
for i in range(N):
    num = int(input("Enter a number: "))
    A.append(num)
min_num = min(A)
frequency = A.count(min_num)
if frequency % 2 != 0:
    print("The array is lucky")
else:
    print("The array is not lucky")

Enter the number of elements: 5
Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5
The array is lucky

### 13-Given a number N and a list A of N numbers. Print the array after doing the following operations:

#### Find minimum number in these numbers.
#### Find maximum number in these numbers.
##### Swap minimum number with maximum number.

In [ ]:
N = int(input("Enter the number of elements: "))
A = []
for i in range(N):
    num = int(input("Enter a number: "))
    A.append(num)
min_num = min(A)
max_num = max(A)
min_index = A.index(min_num)
max_index = A.index(max_num)
A[min_index], A[max_index] = A[max_index], A[min_index]
print("Array after swapping minimum and maximum numbers:", A)

Enter the number of elements: 5
Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5
Array after swapping minimum and maximum numbers: [5, 2, 3, 4, 1]

### 14-Given a number N and an array A of N numbers. Print the lowest number and its position.

### Note: if there are more than one answer print first one's position.

In [ ]:
N=int(input("enter number of elments in the list :"))
A=[]
for i in range(N):
    i+=1
    y=input()
    A.append(y)
    minimum=min(A)
print("minimum number is : ",minimum)
x=A.index(minimum)
print("index of minimum number is : ",x)

enter number of elments in the list :5
1
2
3
4
5
minimum number is :  1
index of minimum number is :  0

### 15-Given a number N and an array A of N numbers. Print the numbers after sorting them

In [ ]:
N=int(input("enter number of elments in the list :"))
A=[]
for i in range(N):
    i+=1
    y=input()
    A.append(y)
A.sort()
A

enter number of elments in the list :5
1
5
9
7
5

['1', '5', '5', '7', '9']

### 16- Write a Python program to remove spaces from a given string

In [ ]:
def remove(string):
    return string.replace(" ", "")
remove("o m  a r")

'omar'

### 17-write a Python program to swap first and last element of any list.

In [ ]:
N=int(input("enter number of elments in the list :"))
A=[]
for i in range(N):
    i+=1
    y=input()
    A.append(y)
A[0],A[N-1]=A[N-1],A[0]
print(A[0])
print(A[N-1])

enter number of elments in the list :5
1
2
3
4
5
5
1

### 18- Write a Python program to add member(s) to a set.

In [ ]:
name_set = set()
name_set.add("omar")
name_set.update(["maged"])
print(name_set)

{'omar', 'maged'}

### 19-Write a Python program to remove an item from a set if it is present in the set

In [ ]:
num_set = set([0, 1, 2, 3, 4, 5])
num_set.discard(5)
print(num_set)

{0, 1, 2, 3, 4}

### 20-Write a Python program to get the maximum and minimum values of a dictionary values

In [ ]:
dct = {'A':500, 'B':5000, 'C': 50}
max = max(dct.keys(), key=(lambda X: dct[X]))
min = min(dct.keys(), key=(lambda X: dct[X]))
print("Maximum =",dct[max])
print("Minimum =",dct[min])

Maximum = 5000
Minimum = 50

### 21-Write a Python program to drop empty items from a given dictionary.Original Dictionary:{'c1': 'Red', 'c2': 'Green', 'c3': None}New Dictionary after dropping empty items:{'c1': 'Red', 'c2': 'Green'}

In [ ]:
dict1 = {'c1': 'Red', 'c2': 'Green', 'c3':None}
print("Original Dictionary:")
print(dict1)
print("New Dictionary after dropping empty items:")
dict1 = {key:value for (key, value) in dict1.items() if value is not None}
print(dict1)

Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}